    <div id="hero" class="hero-section">
        
        <div id="hero-carousel" class="hero-carousel carousel carousel-fade slide" data-ride="carousel" data-interval="10000">
            
 
			<!-- Wrapper for slides -->
			<div class="carousel-inner">
    			
				<div class="item item-1 active">
					<div class="item-content container">
    					<div class="item-content-inner">
    				        
				            <h2 class="heading">TRIXSurvey is the perfect academic survey system <br class="hidden-xs">for your use</h2>
				            <p class="intro">It helps academics to build beautiful and user-friendly surveys quickly and easily!</p>
				            <a class="btn btn-primary btn-cta" href="/survey" target="_blank">Get Started</a>
    				        
    					</div><!--//item-content-inner-->
					</div><!--//item-content-->
				</div><!--//item-->
			</div><!--//carousel-inner-->

		</div><!--//carousel-->
    </div><!--//hero-->