<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.3.0/knockout-min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<!--<link  type="text/css" rel="stylesheet" href="css/styles.css" />-->
<link  type="text/css" rel="stylesheet" href="css/mdb.min.css" />

<!-- PARA Biblioteca Inquéritos-->
<script src="https://surveyjs.azureedge.net/1.0.13/survey.ko.min.js"></script>
<script src="https://surveyjs.azureedge.net/1.0.13/surveyeditor.min.js"></script>
<script src="https://surveyjs.azureedge.net/1.0.13/survey.jquery.min.js"></script>
<link href="https://surveyjs.azureedge.net/1.0.13/surveyeditor.css" type="text/css" rel="stylesheet" />

<!--Scripts customizados</script>-->
<script type="text/javascript" src="js/survey.js"></script>
<script type="text/javascript" src="js/surveyeditor.js" ></script>
<script type="text/javascript" src="js/resultados.js" >

<!-- PARA GRAFICOS-->

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


</head>
<header>  
  {{>_header}}
</header>  
<body>
    <div class="container-fluid">
    {{{body}}}
  </div>
  <footer>
  {{>_footer}}
</footer>

</html>
