<!DOCTYPE>  
<html>  
<header>  
  <title>Handlebars Test</title>
  <style type="text/css">
    body { font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif; }
    .box { box-sizing: border-box; }
    .header { border-bottom: 1px solid #c0c0c0; padding: .75em 0; margin-bottom: 1.5em; }
    .main { width: 70%; float: left; }
    .sidebar { width: 30%; float: right; padding-left: 1.5em; }
  </style>
  {{>_header}}
</header>  
  <div>
    {{{body}}}
  </div>
  <div>
  {{>_footer}}
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.3.0/knockout-min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
<link href="https://surveyjs.azureedge.net/1.0.13/surveyeditor.css" type="text/css" rel="stylesheet" />

<script src="https://surveyjs.azureedge.net/1.0.13/survey.ko.min.js"></script>
<script src="https://surveyjs.azureedge.net/1.0.13/surveyeditor.min.js"></script>


<script src="https://surveyjs.azureedge.net/1.0.13/survey.jquery.min.js"></script>
<script type="text/javascript" src="js/survey.js"></script>
<script type="text/javascript" src="js/surveyeditor.js" ></script>

</html>
