<link href="https://surveyjs.azureedge.net/1.0.14/surveyeditor.css" type="text/css" rel="stylesheet" />

<div id="surveyEditorContainer"></div>

<!--<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css" rel="stylesheet" />-->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.0/knockout-min.js"></script>
<script src="https://surveyjs.azureedge.net/1.0.14/survey.ko.min.js"></script>
<script src="https://surveyjs.azureedge.net/1.0.14/surveyeditor.min.js"></script>

<script type="text/javascript" src="js/surveyeditor.js" ></script>