


<link href="https://surveyjs.azureedge.net/1.0.14/survey.css" type="text/css" rel="stylesheet" />
<script src="https://surveyjs.azureedge.net/1.0.14/survey.jquery.min.js"></script>
<script type="text/javascript" src="js/survey.js"></script>

<div id="surveyContainer"></div>

